body {
  background-color: grey;
}

h1 {
  color: floralwhite;
  text-align: center;
  size: 50px;
}

h2 {
  color: floralwhite;
  text-align: center;
}

h3 {
  color: floralwhite;
  text-align: center;
}

br {
  text-align: center;
}

form.form-goup {
  margin-bottom: 30px;
  border-radius: 30 30, 30, 0px;
  text-align: right;
}

form.form-group label {
  font-size: 75cm;
  display: block;
  font-weight: 700;
  text-align: top;
}

form.form-group input {
  font-size: 80px;
  color: white;
  text-align: top;
}

img {
  border-radius: 60%;
}

.rounded mx-auto d-block {
  vertical-align: middle;
  width: 80px;
  height: 80px;
  border-radius: 60%;
}
